doctype html
html
    head
        title Wishup
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&libraries=places')
    script(src='../javascripts/locationpicker.jquery.js')
    script(src='../javascripts/date.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', 
                    data-toggle='collapse', data-target='#navbar', 
                    aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle Navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Wishup
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(class=(title == 'User' ? 'active' : ''))
                            a(href='/lists/addlist') User
                        if !user
                            li(class=(title == 'Register' ? 'active' : ''))
                                a(href='/users/register') Register
                            li(class=(title == 'Login' ? 'active' : ''))
                                a(href='/users/login') Login
                    ul.nav.navbar-nav.navbar-right
                        if user
                            li
                                a(href='/users/logout') Logout
        .container
            != messages()
            block content

    script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='/javascripts/bootstrap.js' )
