extends layout

block content
    h1 User registration
    p Please register using the following form
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}
    form(method="post", action="/users/register",enctype="application/x-www-form-urlencoded")
        .form-group
            label Email address
            input.form-control(name="username", type="email", placeholder="enter email")
        .form-group
            label Password
            input.form-control(name="password", type="password", placeholder="enter password")
        .form-group
            label Confirm password
            input.form-control(name="confirmPassword", type="password", placeholder="enter password again")
        input.btn.btn-default(name="submit", type="submit", value="register")
